{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="restaurant-list">
    <h2>Nos Restaurants Partenaires</h2>
    <p>Découvrez tous nos restaurants partenaires autour de vous.</p>

    <div class="bloc-restaurants">
        <div class="card"><h3>Restaurant A</h3><p>Spécialité : Thiéboudiène</p></div>
        <div class="card"><h3>Restaurant B</h3><p>Spécialité : Alloco</p></div>
        <div class="card"><h3>Restaurant C</h3><p>Spécialité : Yassa Poulet</p></div>
    </div>
</section>
{% endblock %}