{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="bg-color">
        <section class="banier">
            <div class="description">
                <h1>Nos Traiteurs</h1>
                <p>Découvrez nos traiteurs professionnels pour vos événements, mariages, baptêmes et réceptions.</p>
            </div>
        </section>
         <!-- section carte traiteur -->
        <section class="section-experience">
            <div class="menu">
                <h2>Filtres</h2>
                <div class="filtrage">
                    <div class="specialite">
                        <label>Spécialité</label>
                        <select>
                            <option>Touls les specialité</option>
                        </select>
                    </div>
                    <div class="status">
                        <label>Status</label>
                        <select>
                            <option>Touls les traiteurs</option>
                        </select>
                    </div>
                    <div class="bouton">
                        <button class="btn-left"><i class="fa-solid fa-filter"></i> Filtrer</button>
                        <button class="btn-right"><i class="fa-solid fa-arrows-rotate"></i> Réinitialiser</button>
                    </div>
                </div>
            </div>
        </section>
 
<div class="carte-traiteur">

    {% for traiteur in traiteurs %}
    <div class="carte">

        <!-- Image -->
        <div class="carte-image">
            <div class="badge-verifie">
                <i class="fa-solid fa-circle-check"></i> Vérifié
            </div>

            {% if traiteur.image %}
                <img src="{{ traiteur.image.url }}" alt="{{ traiteur.nomcomplet }}">
            {% else %}
                <img src="{% static 'images/default.jpg' %}" alt="">
            {% endif %}
        </div>

        <!-- Texte -->
        <div class="carte-text">

            <div class="entete">
                <p>
                    <span><i class="fa-solid fa-circle"></i></span>
                    {{ traiteur.experience}} d'expérience
                </p>
                <p>
                    <span class="jaune"><i class="fa fa-star"></i></span>
                    <strong>0.0</strong>
                </p>
            </div>

            <p>{{ traiteur.nomcomplet }}</p>

            <p class="bold">Spécialités :</p>

            <!-- Spécialités -->
            {% for s in traiteur.get_specialites_list %}
    <span>{{ s }}</span>
{% endfor %}

            <div class="profil">
                <p>
                    <span><i class="fa fa-phone"></i></span>
                    {{ traiteur.telephone }}
                </p>

                <a href="{% url 'detail_traiteur' traiteur.id %}">
                    <button>Voir le profil</button>
                </a>
            </div>

        </div>
    </div>

    {% empty %}
        <p>Aucun traiteur disponible</p>
    {% endfor %}

</div>
</div>
        <!-- section banier traiteur -->
        <section class="banner2 banner-traiteur">
            <div class="message">
                <h2>Vous êtes traiteur ?</h2>
                <p>Rejoignez notre réseau et développez votre activité événementielle !</p>
                <button><a href="{% url 'ajouter_traiteur' %}">Devenir Traiteur</a></button>
            </div>
        </section>
    </div>
{% endblock %}